%h1 My wardrobe
= link_to 'New item', new_user_item_path, class: 'btn btn-success'

%table.table.table-striped
  %tr
    %th Name
    %th Type
    %th Size
    %th Occasions
    %th Seasons
    %th Actions
  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.item_type
      %td= item.size
      %td= item.occasions.map(&:name).join(', ')
      %td= item.seasons.map(&:name).join(', ')
      %td
        = link_to 'Show', user_item_path(@user, item)
        = link_to 'Edit', edit_user_item_path(@user, item)
        = link_to 'Delete', user_item_path(@user, item), method: :delete, data: {confirm: 'Are you sure?'}

= link_to 'Back to list', root_path