!!!
%html
  %head
    %title Wardrobe
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = link_to 'Users', admin_users_path
    = link_to 'Clothes', admin_items_path
    = link_to 'Occasions', admin_occasions_path
    = link_to 'Seasons', admin_seasons_path
    = yield